<app-head-bar></app-head-bar>
<app-search-bar [autos]="autoList" (selectAutoEvent)="updateAuto($event)"></app-search-bar>

<div class="autos" *ngIf="selectedAuto">
  <div class="details">
  <p class="titre">Make</p>
    <hr>
    <p class="info">
        {{selectedAuto.make}}
    </p>
    <p class="titre">Model</p>
    <hr>
    <p class="info">
        {{selectedAuto.model}}
    </p>
    <p class="titre">Price</p>
    <hr>
    <p class="info">
        {{selectedAuto.price}} DNT
    </p>
    <p class="titre">Power</p>
    <hr>
    <p class="info">
        {{selectedAuto.power}} cv
    </p>
    <hr>
    <p class="info">
      {{selectedAuto.availability}} Units available
  </p>
  </div>
    <img [src]="selectedAuto.photo"/>
</div>

